version: '3'
services:
  #opensearch:
  #  image: opensearchproject/opensearch:latest
  #  container_name: opensearch
  #  environment:
  #    - discovery.type=single-node
  #    - bootstrap.memory_lock=true # along with the memlock settings below, disables swapping
  #    - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m" # minimum and maximum Java heap size, recommend setting both to 50% of system RAM
  #    - plugins.security.disabled=true
  #  ulimits:
  #    memlock:
  #      soft: 65536
  #      hard: 65536
  #    nofile:
  #      soft: 65536 # maximum number of open files for the OpenSearch user, set to at least 65536 on modern systems
  #      hard: 65536
  #  ports:
  #    - 9200:9200
  #    - 9600:9600 # required for Performance Analyzer
  #  networks:
  #    - opensearch-net
  techboss-localstack:
    image: localstack/localstack:4.0.0
    ports:
      - "4566:4566"
    environment:
      - EXTRA_CORS_ALLOWED_ORIGINS=http://localhost:9090
      - SERVICES=s3,sqs
      - DOCKER_HOST=unix:///var/run/docker.sock
    healthcheck:
      test: curl localhost:4566/health
      interval: 1s
    volumes:
      - "../.docker-data/localstack:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
  techboss-postgres:
    image: postgres:17.0
    volumes:
      - ../.docker-data/postgres:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: unit_test
  techboss-dynamodb:
    image: amazon/dynamodb-local
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    volumes:
      - "../.docker-data/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal
    ports:
      - "${DYNAMODB_PORT:-8000}:8000"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/ || exit 1"]
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 10s
