name: Claude Code

on:
  workflow_dispatch:
  

jobs:
  
  claude:
    runs-on: ubuntu-latest
    environment: 
        name: claude
    permissions:
      contents: write
      pull-requests: write
      issues: write
      id-token: write
      actions: read # Required for Claude to read CI results on PRs
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Run Claude Code
        id: claude
        uses: anthropics/claude-code-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
          CLAUDE_CODE_USE_BEDROCK: 1
          AWS_REGION: us-east-1
          AWS_BEARER_TOKEN_BEDROCK: ${{ secrets.AWS_BEARER_TOKEN_BEDROCK }}
          AWS_ACCESS_KEY_ID: "fake-bedrock-key-id"
          AWS_SECRET_ACCESS_KEY: "fake-bedrock-secret-key"

        with:
            use_bedrock: "true"
            github_token: ${{ secrets.GITHUB_TOKEN }} 
            
