name: Deploy Production

on:
  workflow_dispatch:
    inputs:
      spot_instances:
        description: 'Use Spot Instances (Disable if AWS out of capacity)'
        required: false
        default: true
        type: boolean
  push:
    branches:
      - 'main'

# Control which subsystems to build and deploy
env:
  DEPLOY_API: true
  DEPLOY_MIGRATION: true
  DEPLOY_TASKMASTER: false
  DEPLOY_TASKWORKER: false
  PREFIX: ""

# Define environment mappings
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      id-token: write
      contents: read
    outputs:
      prefix: ${{ env.PREFIX }}
      api_image_tag: ${{ steps.build_api.outputs.api_image_tag }}
      taskmaster_image_tag: ${{ steps.build_taskmaster.outputs.taskmaster_image_tag }}
      taskworker_image_tag: ${{ steps.build_taskworker.outputs.taskworker_image_tag }}
      migration_image_tag: ${{ steps.build_migration.outputs.migration_image_tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
            go-version-file: go.mod

      - name: Authenticate to GitHub and Install Deps
        env:
          GOPRIVATE: github.com/CrowdShield/*
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.CI_DEPLOY_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          git config --global url."git@github.com:".insteadOf "https://github.com/"
          go mod download
      
      #---- API ----
      - uses: aws-actions/configure-aws-credentials@v4
        if: env.DEPLOY_API == 'true'
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ vars.ACCOUNT_ID }}:role/${{ env.PREFIX }}api-deploy-role
          unset-current-credentials: true
      - name: Build API
        if: env.DEPLOY_API == 'true'
        id: build_api
        env:
          APP: ${{env.PREFIX}}api
          COMMAND_PATH: "cmd/server"
        run: |
          FULL_OUTPUT=$(bash -ex infra/build/build_image.sh)
          API_IMAGE_TAG=$(echo "$FULL_OUTPUT" | tail -n 1)
          echo "api_image_tag=$API_IMAGE_TAG" >> $GITHUB_OUTPUT

      #---- MIGRATIONS ----
      - uses: aws-actions/configure-aws-credentials@v4
        if: env.DEPLOY_MIGRATION == 'true'
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ vars.ACCOUNT_ID }}:role/${{env.PREFIX}}runner-deploy-role
          unset-current-credentials: true
      - name: Build Migration
        if: env.DEPLOY_MIGRATION == 'true'
        id: build_migration
        env:
          APP: ${{env.PREFIX}}runner
          COMMAND_PATH: "cmd/migrations"
        run: |
          FULL_OUTPUT=$(bash -ex infra/build/build_image.sh)
          MIGRATION_IMAGE_TAG=$(echo "$FULL_OUTPUT" | tail -n 1)
          echo "migration_image_tag=$MIGRATION_IMAGE_TAG" >> $GITHUB_OUTPUT

      #---- TASKMASTER ----
      - uses: aws-actions/configure-aws-credentials@v4
        if: env.DEPLOY_TASKMASTER == 'true'
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ vars.ACCOUNT_ID }}:role/${{env.PREFIX}}task-master-deploy-role
          unset-current-credentials: true
      - name: Build Taskmaster
        if: env.DEPLOY_TASKMASTER == 'true'
        id: build_taskmaster
        env:
          APP: ${{env.PREFIX}}task-master
          COMMAND_PATH: "cmd/taskmaster"
        run: |
          FULL_OUTPUT=$(bash -ex infra/build/build_image.sh)
          TASKMASTER_IMAGE_TAG=$(echo "$FULL_OUTPUT" | tail -n 1)
          echo "taskmaster_image_tag=$TASKMASTER_IMAGE_TAG" >> $GITHUB_OUTPUT

      #---- TASKWORKER ----
      - uses: aws-actions/configure-aws-credentials@v4
        if: env.DEPLOY_TASKWORKER == 'true'
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ vars.ACCOUNT_ID }}:role/${{env.PREFIX}}task-worker-deploy-role
          unset-current-credentials: true
      - name: Build Taskworker
        if: env.DEPLOY_TASKWORKER == 'true'
        id: build_taskworker
        env:
          APP: ${{env.PREFIX}}task-worker
          COMMAND_PATH: "cmd/taskworker"
        run: |
          FULL_OUTPUT=$(bash -ex infra/build/build_image.sh)
          TASKWORKER_IMAGE_TAG=$(echo "$FULL_OUTPUT" | tail -n 1)
          echo "taskworker_image_tag=$TASKWORKER_IMAGE_TAG" >> $GITHUB_OUTPUT

  deploy_migration:
    name: Deploy migration
    if: needs.build.outputs.migration_image_tag != ''
    needs: [build]
    env:
      APP: ${{needs.build.outputs.prefix}}runner
      ENVIRONMENT: production
      SYSTEM_MEMORY: "2048"
      SYSTEM_CPU: "1024"
      TASK_COUNT: 1
      IMAGE: "${{ needs.build.outputs.migration_image_tag }}"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    concurrency: ${{ github.event.inputs.environment }}-migration
    permissions:
      id-token: write
      contents: read
    environment: 
      name: production
    steps:
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ vars.ACCOUNT_ID }}:role/${{env.PREFIX}}runner-deploy-role
      - uses: actions/checkout@v4
      - run: |
              bash -ex infra/deploy/deploy_migration.sh

  # Split the jobs to ensure we have independent jobs for each service
  deploy_taskmaster:
    name: Deploy taskmaster
    if: (success() || needs.deploy_migration.result == 'skipped') && needs.build.outputs.taskmaster_image_tag != ''
    needs: [build, deploy_migration]
    env:
      APP: ${{needs.build.outputs.prefix}}task-master
      ENVIRONMENT: production
      SYSTEM_MEMORY: "2048"
      SYSTEM_CPU: "1024"
      TASK_COUNT: 1
      IMAGE: "${{ needs.build.outputs.taskmaster_image_tag }}"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    concurrency: ${{ github.event.inputs.environment }}-taskmaster
    permissions:
      id-token: write
      contents: read
    environment: 
      name: production
    steps:
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ vars.ACCOUNT_ID }}:role/${{env.PREFIX}}task-master-deploy-role
      - uses: actions/checkout@v4
      - run: |
              bash -ex infra/deploy/deploy_worker.sh

  deploy_taskworker:
    name: Deploy taskworker
    if: (success() || needs.deploy_migration.result == 'skipped') && needs.build.outputs.taskworker_image_tag != ''
    needs: [build, deploy_migration]
    env:
      APP: ${{needs.build.outputs.prefix}}task-worker
      ENVIRONMENT: production
      SYSTEM_MEMORY: "3072"
      SYSTEM_CPU: "1024"
      TASK_COUNT: 1
      IMAGE: "${{ needs.build.outputs.taskworker_image_tag }}"
      SPOT_INSTANCES: "${{ github.event.inputs.spot_instances }}"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    concurrency: ${{ github.event.inputs.environment }}-taskworker
    permissions:
      id-token: write
      contents: read
    environment: 
      name: production
    steps:
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ vars.ACCOUNT_ID }}:role/${{env.PREFIX}}task-worker-deploy-role
      - uses: actions/checkout@v4
      - run: |
              bash -ex infra/deploy/deploy_worker.sh

  deploy_api:
    name: Deploy api
    if: (success() || needs.deploy_migration.result == 'skipped') && needs.build.outputs.api_image_tag != ''
    needs: [build, deploy_migration]
    env:
      APP: ${{needs.build.outputs.prefix}}api
      ENVIRONMENT: production
      SYSTEM_MEMORY: "3072"
      SYSTEM_CPU: "1024"
      TASK_COUNT: 2
      IMAGE: "${{ needs.build.outputs.api_image_tag }}"
      SPOT_INSTANCES: "${{ github.event.inputs.spot_instances }}"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    concurrency: ${{ github.event.inputs.environment }}-api
    permissions:
      id-token: write
      contents: read
    environment: 
      name: production
    steps:
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ vars.ACCOUNT_ID }}:role/${{env.PREFIX}}api-deploy-role
      - uses: actions/checkout@v4
      - run: |
              bash -ex infra/deploy/deploy_web.sh
